*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Mono", sans-serif;
  background-color: #c5e4e7;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  padding: 5rem 0 5rem 0;
}

.card {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2.5rem;
}

.left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 2.5rem 0 2.5rem;
  gap: 2rem;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.label-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label {
  font-size: 1.6rem;
  font-weight: 600;
  color: #5e7a7d;
  margin-bottom: 0.5rem;
}
.label--alert {
  color: red;
  opacity: 0;
}

.show-alert {
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.input-wrapper {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  width: 100%;
  background-color: #f4fafa;
  border-radius: 0.5rem;
  color: #00494d;
  padding: 0.5rem 2.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  font-family: inherit;
  text-align: right;
  border: none;
}
.input:focus {
  outline: 2px solid #26c0ab;
}
.input--custom {
  text-align: center;
  padding: 0.5rem 0rem;
}
.input--alert {
  outline: none;
  border: 1px solid red;
}

.icon {
  position: absolute;
  left: 2.5rem;
}

.btn-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding-top: 1.2rem;
}

.btn {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: #00494d;
  color: white;
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 0.5rem;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.btn:hover {
  background-color: #26c0ab;
  color: #00494d;
}
.btn--active {
  background-color: #26c0ab;
  color: #00494d;
}
.btn--reset {
  font-size: 2rem;
  padding: 1rem;
  background-color: #0d686d;
  color: #00494d;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn--reset:hover {
  background-color: #26c0ab;
}

.right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  background-color: #00494d;
  margin: 2.5rem;
  padding: 3.5rem 2.5rem 2.5rem 2.5rem;
  border-radius: 1.5rem;
}

.result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.result__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.result__text--primary {
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
}
.result__text--secondary {
  color: #5e7a7d;
  font-weight: 700;
  font-size: 1.3rem;
}
.result__output {
  font-size: 3rem;
  font-weight: 700;
  color: #26c0ab;
}

@media screen and (min-width: 600px) {
  .card {
    width: 600px;
  }

  .btn-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1000px) {
  .card {
    width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 2.5rem;
  }

  .left-side {
    width: 50%;
    padding: 4.5rem 1.5rem 4.5rem 4.5rem;
  }

  .right-side {
    margin: 3rem;
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}/*# sourceMappingURL=main.css.map */