.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  padding: 5rem 0 5rem 0;
}

.card {
  width: 100%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  border-radius: 2.5rem;
}

.left-side {
  display: flex;
  flex-direction: column;
  padding: 3rem 2.5rem 0 2.5rem;
  gap: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 1.6rem;
  font-weight: 600;
  color: $cyan-grayish-dark;
  margin-bottom: 0.5rem;

  &--alert {
    color: red;
    opacity: 0;
  }
}

.show-alert {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.input-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  background-color: $cyan-grayish-light2;
  border-radius: 0.5rem;
  color: $cyan-very-dark;
  padding: 0.5rem 2.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  font-family: inherit;
  text-align: right;
  border: none;

  &:focus {
    outline: 2px solid $cyan-strong;
  }

  &--custom {
    text-align: center;
    padding: 0.5rem 0rem;
  }

  &--alert {
    outline: none;
    border: 1px solid red;
  }
}

.icon {
  position: absolute;
  left: 2.5rem;
}

.btn-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding-top: 1.2rem;
}
.btn {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: $cyan-very-dark;
  color: $white;
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 0.5rem;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: $cyan-strong;
    color: $cyan-very-dark;
  }

  &--active {
    background-color: $cyan-strong;
    color: $cyan-very-dark;
  }

  &--reset {
    font-size: 2rem;
    padding: 1rem;
    background-color: #0d686d;
    color: $cyan-very-dark;
    transition: all 0.3s;

    &:hover {
      background-color: $cyan-strong;
    }
  }
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background-color: $cyan-very-dark;
  margin: 2.5rem;
  padding: 3.5rem 2.5rem 2.5rem 2.5rem;
  border-radius: 1.5rem;
}

.result-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    display: flex;
    flex-direction: column;

    &--primary {
      color: $white;
      font-weight: 700;
      font-size: 1.6rem;
    }

    &--secondary {
      color: $cyan-grayish-dark;
      font-weight: 700;
      font-size: 1.3rem;
    }
  }

  &__output {
    font-size: 3rem;
    font-weight: 700;
    color: $cyan-strong;
  }
}

@media screen and (min-width: 600px) {
  .card {
    width: 600px;
  }
  .btn-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .card {
    width: 1000px;
    display: flex;
    flex-direction: row;
    border-radius: 2.5rem;
  }
  .left-side {
    width: 50%;
    padding: 4.5rem 1.5rem 4.5rem 4.5rem;
  }
  .right-side {
    margin: 3rem;
    width: 50%;
    justify-content: space-between;
  }
}

// Removing arrows from inputs
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
