.text {
  font-family: "Space Mono", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: $cyan-dark-grayish;

  &--white {
    color: $white;
  }
  &--small {
    font-size: 16px;
  }

  &--alert {
    color: red;
  }
}

.text2 {
  font-family: "Space Mono", sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: $cyan-strong;
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

.margin-bottom-small {
  margin-bottom: 10px;
}
.margin-bottom-small2 {
  margin-bottom: 30px;
}
.margin-bottom-medium {
  margin-bottom: 40px;
}

.margin-bottom-large {
  margin-bottom: 80px;
}
